<div class="container-blue">
  <br/>
  <h1>
    about works!
  </h1>
</div>
<div class="container-blue-light">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius iure qui ullam recusandae esse vitae tempora suscipit? Recusandae veritatis molestias non. Eligendi labore doloribus nam nihil? Perspiciatis asperiores ipsa sed! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ullam neque explicabo maxime enim nemo voluptatibus asperiores at. Asperiores praesentium reprehenderit maiores unde porro minus modi commodi? Vero, vel doloremque.</p>
</div>